@charset "utf-8";
/* CSS Document */

/* Normalize Stylesheet */

html,
body,
main,
section,
header,
footer {
  width: 100%;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 1.2em;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width: calc(100% - 50px);
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  padding: 2em 0;
  background-color: #252831;
  text-align: center;
  h1 {
    margin: auto;
    a {
      color: #fff;
      font-size: 0.8em;
      font-weight: 200;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }
}

#breadcrumb-nav {
  padding: 0;
  text-align: left;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 0.8em;
  margin: 0;
  width: calc(100% - 80px);
}

/* Display list items side by side */

#breadcrumb {
  li {
    display: inline;
    a {
      color: #0275d8;
      text-decoration: none;
    }
    /* Add a color on mouse-over */
    a:hover {
      color: #01447e;
      text-decoration: underline;
    }
  }
  /* Add a color to all links inside the list */
  li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
}

/* Add a slash symbol (/) before/behind each list item */

/* ====================== Map ====================== */

#map {
  height: 40vh;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #034f82;
  align-items: center;
  padding: 0.5em 0;
  h2 {
    color: white;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0 0.5em;
  }
  select {
    background-color: white;
    border: 1px solid #fff;
    font-size: 1em;
    height: 1.8em;
    letter-spacing: 0;
    margin: 5px 10px;
    width: calc(100% - 20px);
  }
  select:focus {
    background: white;
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8);
  }
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 10px;
    min-height: 380px;
    padding: 5px 10px 15px;
    text-align: left;
    width: 100%;
    a {
      background-color: orange;
      border-bottom: 3px solid #eee;
      color: #fff;
      display: inline-block;
      font-size: 1em;
      margin: 15px 0 0;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
    }
    h3 {
      color: #f18200;
      font-family: Arial, sans-serif;
      font-size: 1.2em;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 20px 0 10px;
      text-transform: uppercase;
    }
  }
  .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
  }
  p {
    margin: 0;
    font-size: 1em;
  }
}

/* ====================== Restaurant Details ====================== */

.inside {
  header {
    width: 100%;
  }
  #map-container {
    background: none repeat scroll 0 0;
  }
  #map {
    background-color: #ccc;
    border: 1px solid #ccc;
    margin: 20px 0 0;
    width: 100%;
    height: 30vmax;
  }
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img,
.restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 1em;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.inside #map-container,
#restaurant-container,
#reviews-container {
  width: 100%;
  padding: 0;
  margin: 10px;
}

#restaurant-container {
  order: -1;
}

#reviews-container {
  order: 2;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  h3 {
    color: #f58500;
    font-weight: 300;
    font-size: 1.4em;
    padding: 14px 0 0;
  }
}

#reviews-list {
  margin: 0;
  padding: 0;
  li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

#restaurant-hours td {
  color: #666;
}

.review-header,
.review-comment {
  padding: 10px 20px;
}

.review-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #034f82;
  color: #fff;
}

.review-comment {
  line-height: 1.4;
}

.reviewer {
  width: calc(100% - 120px);
  h3 {
    margin-bottom: 0;
  }

  .review-date {
    font-size: 0.8em;
  }
}

.review-rating {
  color: #fff;
  background: #f18200;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  padding: 10px 20px;
}

/* ====================== Responsiveness ====================== */

@media screen and (max-width: 560px) {
  #restaurants-list li a {
    padding: 24px 0;
  }
}

@media screen and (min-width: 560px) {
  nav h1 a {
    font-size: 1em;
    letter-spacing: 0.4em;
  }
  #map {
    height: 80vh;
    width: 100%;
    background-color: #ccc;
  }
}

@media screen and (min-width: 560px) and (max-width: 650px) {
  .filter-options select {
    font-size: 1em;
    height: 1.8em;
    margin: 5px 10px;
    width: calc(50% - 24px);
  }
  #restaurants-list li a {
    padding: 15px 0;
    width: 50%
  }
}

@media screen and (min-width: 651px) {
  .filter-options select {
    font-size: 1em;
    height: 1.8em;
    margin: 5px 10px;
    width: 30vmax;
  }
  #restaurants-list li {
    width: calc(50% - 44px);
  }
}

@media screen and (min-width: 780px) {
  #restaurants-list li {
    width: calc(33% - 44px);
  }
  #restaurant-container {
    margin-right: 40px;
    width: calc(55% - 40px);
  }
  .inside #map-container {
    padding-top: 70px;
    width: calc(45% - 30px);
  }
  .inside #map {
    height: 20vmax;
  }
}

@media screen and (min-width: 960px) {
  #restaurants-list li {
    width: 270px;
  }
}